.header {
  display: flex;
  flex-wrap: wrap;
  
  .header__logo {
    width: 100%;
    max-width: 100px;
  }
  .header__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      list-style: none;
      display: flex;
      li {
        margin-right: 10px;
      }
    }
    a {
      color: var(--light-color);
      text-decoration: none;
      transition: color 0.3s ease;
	  margin-right: 15px;
	  &:hover {
		color: var(--info-color);
	  }
	  &:active {
		color: var(--primary-color)
	  }
	  &:focus {
		outline: 2px solid var(--info-color);
		outline-offset: 2px;
	  }
    }
    .nav-item {
      /* position: relative; */
      width: 100%;
    }

    .nav-item .dropdown-menu {
      display: none;
      position: absolute;
      background-color: var(--light-color);
      list-style: none;
      padding: 10px;
      margin: 0;
      border: 2px solid var(--dark-color);
      z-index: 1000;
      width: 30%;
      max-height: 80vh;
      overflow-y: auto;
      left: 20px;
    }

    .nav-item .dropdown-menu li {
      padding: 8px 16px;
    }

    .nav-item .dropdown-menu li a {
      text-decoration: none;
      color: black;
    }

    .nav-item .dropdown-menu li a:hover {
      background-color: var(--warning-color);
    }

    .nav-item:hover .dropdown-menu {
      display: block;
    }
  }
  .header__search {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-left: auto;
	input {
		padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
		margin-right: 5px;
	}
	button {
		background-color: var(--dark-color);
		i {
			color: var(--light-color);
			font-size: 20px;
			cursor: pointer;
			background-color: var(--dark-color);
		}
	}

  }
}
