header {
  display: flex;
  position: relative;
  .header__logo {
    width: 100%;
    max-width: 100px;
  }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__menu-items {
      list-style: none;
      display: flex;
      li {
        margin-right: 30px;
        a {
          color: var(--light-color);
          text-decoration: none;
          &:hover {
            border: 1px solid var(--warning-color);
            padding: 4px;
            border-radius: 5px;
            color: var(--warning-color);
          }
        }
      }
      .dropdown-item {

        .dropdown-menu-items {
          top: 20vh;
          display: none;
          background-color: var(--dark-color);
          list-style: none;
          padding: 10px;
          border: 2px solid var(--light-color);
          border-radius: 5px;
          position: absolute;
          max-width: 90%;
          max-height: 80vh;
          overflow-y: auto;
          left: 20px;
          right: 20px;
          z-index: 1;
        }
        .active {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 20px;
          cursor: pointer;
          margin: 0 auto;
        }
      }
    }
    .header__search {
      position: absolute;
      right: 20px;
      input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 5px;
      }
      button {
        background-color: var(--dark-color);
        color: var(--light-color);
        border: 1px solid var(--light-color);
        border-radius: 5px;
        padding: 5px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: var(--warning-color );
        }
      }
    }
  }
}

